extends layout

block content 
    .row
    .col-xs-12.col-sm-8
      .row.list-group
        each match in matches
          .col-xs-12.list-group-item
            h4 
              a(href="/tossdetails/"+ match._id)= match.homeTeam

              