extends layout

block content
    .col.text-center
        h1= title
    br
    form(name='myform', method='GET', action='/teams', novalidate)
        .row
            .col.text-center
                #form-group
                    input.btn.btn-primary(type='submit', value='Start New Game') 
    br
    form(name='myform', method='GET', action='/loadgame', novalidate)
        .row
            .col.text-center
                #form-group
                    input.btn.btn-primary(type='submit', value='Load Previous Game') 
    br
    form(name='myform', method='GET', action='/options', novalidate)
        .row
            .col.text-center
                #form-group
                    input.btn.btn-primary(type='submit', value='Options') 