extends layout

block content
    .col.text-center
        h1= title
    br
    form(name='myform', method='GET', action='/teams', novalidate)
        .row
            .col.text-center
                #form-group
                    input.btn.btn-primary.btn-lg(type='submit', value='Start New Game') 
    br
    form(name='myform', method='GET', action='/load', novalidate)
        .row
            .col.text-center
                #form-group
                    input.btn.btn-primary.btn-lg(type='submit', value='Load Previous Game') 
    br
    form(name='myform', method='GET', action='/statistics', novalidate)
        .row
            .col.text-center
                #form-group
                    input.btn.btn-primary.btn-lg(type='submit', value='View statistics') 
    br
    form(name='myform', method='GET', action='/', novalidate)
        .row
            .col.text-center
                #form-group
                    input.btn.btn-primary.btn-lg(type='submit', value='Options') 
    br